//== Grid system
//
//##

$grid-gutter-width: 36px;
$gutter-left-and-top: floor(($grid-gutter-width / 2));
$gutter-right-and-bottom: ceil(($grid-gutter-width / 2));

//== Jumbotron
//
//##

$jumbotron-padding: 36px;

//== Borders
//
//##

$border-default: $gray-dark;
$border-size-default: 1px;
$border-style-default: solid;

//== Keypad
//
//##

$keypad-border: $gray-dark;
$keypad-border-size: 1px;
$keypad-border-style: solid;