<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Connect</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/app.css"/>
    <script src="/scripts/modernizr.js"></script>
</head>
<body class="fixed-header">
    {% include navigation/primary.html %}
    <div class="main">
        {{ content }}
    </div>
    <footer>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </footer>

    <script src="/scripts/app.js"></script>
    {% if page.custom_js %}
        {% for file in page.custom_js %}
            <script src="{{file}}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>