<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img src="http://placekitten.com/1200/1200" data-imageorig="http://placekitten.com/1200/1200" data-imagealternate="http://placekitten.com/400/400" class="img-responsive" />
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="http://placekitten.com/1200/1200" data-imageorig="http://placekitten.com/1200/1200" data-imagealternate="http://placekitten.com/400/400" class="img-responsive" />
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="http://placekitten.com/1200/1200" data-imageorig="http://placekitten.com/1200/1200" data-imagealternate="http://placekitten.com/400/400" class="img-responsive" />
    </div>
</div>